body{
	background-color: $backgroundColor;

	font-family: $standartFont;
	color: $textColor;

	margin: 0;

	// Macht Probleme unter alten Browsern / iPhones
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

div#content{
	flex: 1;
}