
input[type=text],
input[type=email],
input[type=password],
textarea{
	padding: 0.6em 0.6em;
	margin: 0.5em 0;

	font-size: 1em;

	border-radius: 0.3em;

	// Standarts resetten
	appearance: none;
	box-shadow: none;

	border: 2px solid $lightTextColor;

	color: $textColor;

	transition: all 0.3s ease-out;

	text-align: center;

	width: 100%;
	box-sizing: border-box;

}

textarea{
	text-align: left;
}

input[type=text]:focus,
input[type=text]:hover,
input[type=email]:focus,
input[type=email]:hover,
input[type=password]:focus,
input[type=password]:hover,
textarea:focus,
textarea:hover{
	border: 2px solid $primaryColor;
	outline: none;

	transition: all 0.3s ease-out;

	color: $headingColor;
}

textarea:focus{
	text-align: left;
}

input[type=submit]{
	@extend button;

	background-color: $secondaryColor;
	border-color: $secondaryColor;
}

input[type=submit]:hover,
input[type=submit]:focus{
	background-color: $secondaryColorShade;
	border-color: $secondaryColorShade;
}

// Diese Attribute machen das Input Feld zwar unsichtbar,
// aber man kann es immernoch mit Tab anwählen
input[type=file]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type=file] + label{
	@extend button;
	display: inline-block;
}

input[type=file] + label:hover{
	background-color: $primaryColorShade;
	transition: all 0.3s ease-out;

	// überschreibt das standartmäßige grün / rot bei icons
	i{
		color: $backgroundColor !important;
	}
}


// Checkboxen
input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label:before{
	font-family: 'Material Design Icons';
	letter-spacing: 0.3em;
	cursor: pointer;
}

input[type=checkbox] + label:before {
	content: "\F227";
}
input[type=checkbox]:checked + label:before {
	content: "\F22B";
}

// die Buttons etwas den forms anpassen

form{
	button{
		width: 100%;
		font-size: 1em;

		// gleiche Dimension
		padding: 0.6em 0.6em;
		box-sizing: border-box;
	}
}




// Dropdown Hack

.dropdownWrapper{

	position: relative;
	margin: 0 auto;
	padding: 0.75em 1.5em;

	max-width: 8em;

	background: $primaryColor;
	border-radius: 0.3em;
	border: 1px solid $primaryColor;

	color: $backgroundColor;
	font-size: 1.2em;
	letter-spacing: 1px;

	text-align: center;

	cursor: pointer;
	outline: none;

	transition: all 0.3s ease-out;

	i{
		position: absolute;
		right: 1em;
		color: $backgroundColor !important;
	}
}

.dropdownWrapper.active{
	border-radius: 5px 5px 0 0;
	background-color: $primaryColorShade;
	border: 1px solid $primaryColorShade;
	border-bottom: none;



	.dropdown{
		max-height: 1000px;
	}
}

.dropdownWrapper:hover{
	background-color: $primaryColorShade;
	border: 1px solid $primaryColorShade;

	transition: all 0.3s ease-out;
}


.dropdown{
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin-top: 0;

	background-color: $backgroundColor;
	border-radius: 0 0 0.3em 0.3em;
	border: 1px solid $primaryColorShade;
	border-top: none;
	border-bottom: none;
	list-style-type: none;
	padding-left: 0;
	border-bottom: 1px solid $primaryColorShade;

	transition: all 0.3s ease-out;

	// Versteckt das Menü
	max-height: 0;
	overflow: hidden;

	color: $textColor;

	li{
		padding: 0 1.5em;
		margin: 0 0.3em;

		color: $headingColor;

		a{
			display: block;
			text-align: center;

			border-bottom: 1px solid $textColor;
			padding: 0.75em 0;
		}
	}

	li:nth-last-of-type(1){
		a{
			border: none;
		}
	}

}
