
// Loading Page
#loading{
	width: 100%;
	text-align: center;
	
	i{

		line-height: 5em;
		font-size: 10em;

		color: $headingColor;
	}

}

h1,h2,h3,h4,h5,h6{
	color: $headingColor;
	text-align: center;
	font-family: $headingFont;
}



// Such leiste oben
.topSearchBar{

	margin-right: auto;
	margin-left: auto;
	display: block;

	opacity: 0.2;

	font-size: 2em;
}
.topSearchBar:hover,
.topSearchBar:focus{
	opacity: 1;
	color: $textColor !important;
}

// Desktop
@media screen and (min-width: $large-screen-up){
	.topSearchBar{
		width: 40%;
	}
}
// Mobile
@media screen and (max-width: $large-screen){
	.topSearchBar{
		width: 60%;
	}
}

// unsichtbar
.invisible{
	display: none !important;
}

.topHeading{
	text-align: center;
	color: $headingColor;
}

.delete{
	transition: color 0.3s ease-in-out;
}
.delete:hover{
	color: $warningColor !important;
}