
// Loading Page
#loading{
	width: 100%;
	min-height: 500px;

	text-align: center;

	background-color: #FFF

	i{

		line-height: 500px;
		font-size: 5em;
	}

}


// Such leiste oben
.topSearchBar{

	width: 60%;
	margin-right: auto;
	margin-left: auto;
	display: block;

}