
$modalBorderRadius: 0.5em;

// hintergrund abdunkeln
div.modalBackground{
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);

	align-items: center;
	justify-content: center;

	// über dem content
	z-index: 10;

	display: none;

	transition: background 1s easi-in-out;

	div.modal{

		margin-left: auto;
		margin-right: auto;

		background-color: $backgroundColor;

		height: auto !important;

		// über dem hintergrund
		z-index: 15;

		font-size: 1.1em;

		// desktop
		@media screen and (min-width: $medium-screen-up){
			border-radius: $modalBorderRadius;

			width: 40%;

			animation-name: modalFadeInDesktop;
		}

		// mobile
		@media screen and (max-width: $medium-screen){
			position: fixed;
			bottom: 0;
			width: 100%;

			animation-name: modalFadeInMobile;
		}


		animation-duration: 0.4s;

		overflow: hidden;


		div.modalHeader{

			line-height: 2em;
			font-size: 1.5em;
			font-family: $headingFontBold;

			background-color: $backgroundColor;
			color: $textColor;

			text-align: center;

			position: relative;

			// schließen button
			i{
				float: right;
				margin-right: 0.5em;

				line-height: 2em;

				color: $textColor !important;

				cursor: pointer;
			}

			i:hover{
				color: $warningColor;
			}

		}

		div.modalFooter{

			line-height: 1.5em;

			font-size: 1.3em;

			padding: 0.2em 0;

			background-color: $primaryColor;

			text-align: center;
		}

		div.modalContent{

			padding:  1em 0em;
			width: 95%;
			margin: auto;

			text-align: center;

		}


		span.modalClose{
			position: absolute;
			right: 0.2em;

			i:hover{
				color: $warningColor !important;
			}
		}


		button{
			font-size: 0.7em;
			margin: 0.4em 0.3em;
		}

	}

	// ein paar form dinge überschreiben
	form{
		margin: 0 !important;
		width: 100% !important;
	}

	// forms sollen im modal ein wenig anders aussehen
	input[type=text],
	input[type=email],
	input[type=password],
	textarea{
		box-sizing: border-box;
		border: none;

		border-radius: 0.2em;

		background-color: #EEF1F6;
	}

	input[type=text]:focus,
	input[type=text]:hover,
	input[type=email]:focus,
	input[type=email]:hover,
	input[type=password]:focus,
	input[type=password]:hover,
	textarea:focus,
	textarea:hover{
		border-bottom: 0.2em solid $primaryColor;
		border-right: none;
		border-left: none;
		border-top: none;


		background-color: #EEF1F6;
	}

	input[type=file] + label{
		margin: 0.5em 0 !important;
		color: $backgroundColor !important;

		font-family: 'Montserrat-Regular';
		text-align: center;
	}

	input[type=submit]{
		margin: 0.5em 0 !important;
		margin-bottom: 0 !important;
		font-family: 'Montserrat-Regular';
		font-size: 1.2em !important;
		letter-spacing: 0.1em !important;

		padding: 0.3em 1em !important;


		width: 100%;
	}

	label{
		display: inline-block;
		width: 100%;
		text-align: left;

		text-indent: 0.1em;

		margin-top: 0.3em;

		color: $textColor !important;
	}

}

div.active{
	// desktop
	@media screen and (min-width: $medium-screen-up){
		display: flex;
	}

	// mobile
	@media screen and (max-width: $medium-screen){
		display: block;
	}
}


@keyframes modalFadeInDesktop {
    from {margin-top: -20em; opacity: 0}
    to {margin-top: 0; opacity: 1}
}

@keyframes modalFadeInMobile {
	from {bottom: -200px; opacity: 0}
	to {bottom: 0px; opacity: 1}
}
