
$modalBorderRadius: 0.5em;

// hintergrund abdunkeln
div.modalBackground{
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);

	// über dem content
	z-index: 10;

	display: none;

	transition: background 1s easi-in-out;

	div.modal{

		position: relative;

		margin-left: auto;
		margin-right: auto;		

		background-color: $backgroundColor;

		// über dem hintergrund
		z-index: 15;

		font-size: 1.1em;

		// desktop
		@media screen and (min-width: $medium-screen-up){
			border-radius: $modalBorderRadius;

			margin-top: 16em;

			width: 40%;

			animation-name: modalFadeInDesktop;
		}

		// mobile
		@media screen and (max-width: $medium-screen){
			position: fixed;
			bottom: 0;
			width: 100%;

			animation-name: modalFadeInMobile;
		}
		
		
		animation-duration: 0.4s; 

		overflow: hidden;


		div.modalHeader{

			line-height: 2em;

			font-size: 1.3em;

			background-color: $primaryColor;
			color: $backgroundColor;

			text-align: center;
		
			// schließen button
			i{
				float: right;
				margin-right: 0.5em;

				line-height: 2em;

				color: $backgroundColor;
			}

			i:hover{
				color: $warningColor;
			}

		}

		div.modalFooter{

			line-height: 1.5em;

			font-size: 1.3em;

			background-color: $backgroundColor;

			text-align: center;

			background-color: #DDDDDD;

		}

		div.modalContent{

			padding:  1em 2em;

			text-align: center;

		}

		span.modalClose{
			position: absolute;
			right: 0.2em;

			i:hover{
				color: $warningColor !important;
			}
		}
		

		button{
			font-size: 0.7em;
			margin: 0.4em 0.3em;
		}

	}

	// ein paar form dinge überschreiben
	form{
		margin: 0 !important;
		width: 100% !important;
	}

	// forms sollen im modal ein wenig anders aussehen
	input[type=text],
	input[type=email],
	input[type=password],
	textarea{
		border-bottom: 2px solid $textColor;
		border-right: none;
		border-left: none;
		border-top: none;

		border-radius: 0;

		margin: 0.5em 0;
	}

	input[type=text]:focus,
	input[type=text]:hover,
	input[type=email]:focus,
	input[type=email]:hover,
	input[type=password]:focus,
	input[type=password]:hover,
	textarea:focus,
	textarea:hover{
		border-bottom: 2px solid $primaryColor;
		border-right: none;
		border-left: none;
		border-top: none;

		border-radius: none;
	}
}


@keyframes modalFadeInDesktop {
    from {top: -200px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes modalFadeInMobile {
	from {bottom: -200px; opacity: 0}
	to {bottom: 0px; opacity: 1}
}