

// allgemeines
nav{

	// positioniert die Leiste ganz oben
	position: absolute;
	top: 0;
	width: 100%;

	padding: 0;

	background-color: $backgroundColor;

	border-bottom: 2px solid #6C7A89;

	font-family: 'Nevis';


	li:hover{
		color: $secondaryColor;
	}

	ul#navi{

		list-style-type: none;
		height: $navigationHeight;
		padding: 0;

		margin-top: 0;
		margin-bottom: 0;

		li{
			text-align: center;
			float: left;
		}

		a{
			color: $primaryColor;
			font-size: 1.4em;

			letter-spacing: 1px;
		}

		a:hover{
			// text-decoration: underline;
			border-bottom: 1px solid $secondaryColor;
			color: $secondaryColor;
		}
	}
}


// user Information
ul#userInfo{
	height: $navigationHeight;
	line-height: $navigationHeight;
	position: absolute;
	right: 1em;
	top: 0;

	margin-top: 0;
	margin-bottom: 0;

	color: $headingColor;

	i{
		cursor: pointer;
	}


	li{
		float: left;
		display: inline-block;
		text-align: center;

		margin-left: 10px;
		margin-right: 10px;

		font-family: 'Sertig';
		font-size: 1.3em;

	}

}


// desktop
@media screen and (min-width: 800px){

nav{
	

	ul#navi{
		margin-right: auto;
		margin-left: auto;

		width: 70%;

		li{
			width: 10em;
			min-width: 10em;
		}

		a{
			// hiermit werden die einzeln Menüpunkte ordentlich zentriert
			line-height: $navigationHeight;

			// macht den ganzen Bereich clickbar
			// display: block;

		}

	}

	
	#menuButton{
		display: none;
	}

	.avatar{
		vertical-align: middle;
		display: inline-block;
	}

	// Das dient der vertikalen zetrierung
	.userImage{
		display: inline-block;
		height: 100%;
	}
	

}
}

// mobile
@media screen and (max-width: 800px){

// collapsed menu
.collapsed{

	li{
		// display: none;
		height: 0 !important;

		border-top: none !important;
	}

	a{
		display: none;	
	}


}


ul#userInfo{

	// abstand nach rechts veringern
	right: 0;

	// Avatar verstecken
	.avatar{
		display: none;
	}

}

ul#navi{

		// genau unter der Navileiste platzieren
		margin-top: $navigationHeight !important;

		padding: 0;		

		width: 100%;

		height: 0 !important;
		// display: none;

	li{
		width: 100%;
		
		height: $navigationHeight * 0.9;
		line-height: $navigationHeight * 0.9;

		border-top: 1px solid $primaryColor;

		-webkit-transition: height 0.2s ease-in-out;
		transition: height 0.2s ease-in-out;
	}


}

#menuButton{

	position: absolute;

	top: 0;
	left: 0.7em;

	font-size: 1.5em;

	line-height: $navigationHeight;

}

}