section#snippet{
// desktop
@media screen and (min-width: $medium-screen-up){

	div#code{
		width: 70%;

		margin: 0 auto;
	}

	p.comment{
		width: 70%;
		margin: 0 auto;
	}

}


	p.comment{
		text-align: justify;

		margin-top: 2em;
	}

}

section#codesnippets{

	button#openSnippetModalButton{
		display: block;
		margin: 2em auto;
	}

	div.modal{
		// desktop
		@media screen and (min-width: $medium-screen-up){

			margin-top: 16em;
			width: 60%;
				
			// TODO bessere Lösung finden
			margin-top: 8em;

		}		
		
	}

	// desktop
	@media screen and (min-width: $medium-screen-up){
	table{

		max-width: 70%;

		td{
			vertical-align: middle;
			font-size: 1.2em;
		}

		td:nth-child(2),
		td:nth-child(3){
			font-size: 1.5em;
			color: $headingColor;
		}
	}
	}

	table{
		margin: 0 auto;

		a{
			color: $textColor;
		}
		a:hover{
			color: $headingColor;
		}

		td{
			padding: 0.5em 1.2em;
		}

		i{
			color: $headingColor;
		}
	}

}