section#footer{

	background-color: #3B4859;



	width: 100%;

	margin-top: 5em;


	// mobile
	@media screen and (max-width: $medium-screen){
		div#footerContent{
			width: 100%;
		}
	}

	// desktop
	@media screen and (min-width: $medium-screen){
		div#footerContent{
			width: 80%;
		}
	}

	div#footerContent{

		margin: 0 auto;
		min-height: 9em;

		padding: 1em 0;

		// Flex Layout
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: space-around;

		// Footer Itema
		.footer-item{
			display: flex;
			align-items: center;
			justify-content: center;

			text-align: center;


		}


		// mobile
		@media screen and (max-width: $medium-screen){
		.footer-item{
			flex: 0 0 100%;
			margin: 1em 0;
		}

		.links ul li{
			text-align: center;
			font-size: 1.3em;
			line-height: 2em;
		}

		}

		// desktop
		@media screen and (min-width: $medium-screen){
		.footer-item{
			flex: 0 0 33.33333%;
			margin: 1em 0;
		}
		}

		// Typography
		a{
			color: $backgroundColor;
		}
		a:hover{
			color: $lightTextColor;
		}

		h3{
			color: $backgroundColor;
			font-family: 'Montserrat-UltraLight';
		}
		hr{
			color: $backgroundColor;
			width: 80%;
		}



		// mobile
		@media screen and (max-width: $medium-screen){
			h3{
				font-size: 1.3em;
			}
		}

		// desktop
		@media screen and (min-width: $medium-screen){
			h3{
				font-size: 1.2em;
			}

		}

		.links{

			ul{
				list-style: none;
				padding: 0 2em;

			}

			li{
				line-height: 1.3em;
				font-size: 1.1em;
				letter-spacing: 0.1em;
				color: $backgroundColor;
				font-family: 'Sertig';
			}

		}

		#social-links{
			display: flex;
			align-items: center;
			justify-content: center;

			div{
				flex: 0 0 33.33333%;
				font-size: 4em;
			}

		}

		// mobile
		@media screen and (max-width: $medium-screen){
		#social-links{
			margin: 3em 0;
		}
		}
	}
}
