#groups{

	h1{
		margin-top: 1em;
	}

	.groups{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	a{
		width: 50%;
		@media screen and (max-width: $small-screen){
			width: 100%;
		}
	}

	.group{

		padding: 1em 1em;
		box-sizing: border-box;

		font-size: 1.2em;
		letter-spacing: 0.1em;
		font-family: 'Montserrat-Regular';
		color: $lightTextColor;



		border: 0.2em solid $backgroundColor;
		border-radius: 0.3em;

		cursor: pointer;

		transition: all 0.3s ease;


		span.membercount{
			float: right;
			color: $textColor;

			i{
				color: $secondaryColor;
			}
		}
	}
	.group:hover{
		border: 0.2em solid $primaryColorShade;
		color: $primaryColorShade;
	}

}

// ################
// # Group Detail #
// ################

#groupdetail{

	h3#groupname{
		font-size: 1.5em;
		font-family: 'Montserrat-Regular';

		margin-bottom: 0.2em;
	}

	p#leave{
		font-size: 0.9em;
		font-style: italic;
		color: $lightTextColor;

		text-align: center;
		margin: 0;

		cursor: pointer;

		transition: all 0.3s ease-in-out;
	}
	p#leave:hover{
		color: $warningColor;
	}

	h3{
		margin-top: 0;
	}

	div.row{
		margin-top: 5em;
	}

	div#memberlist{
		display: flex;
		align-items: top;
		justify-content: distribute-space;

		flex-flow: row;
		flex-wrap: wrap;

		width: 100%;

		margin: 3em 0;

		.member{

			flex: 0 0 33.333%;

			font-size: 0.8em;
			text-align: center;
			// line-height: 2.5em;

			box-sizing: border-box;
			padding: 0.5em;

			.avatar{
				display: block;
				margin: 0.5em auto;
			}
		}

		#addUserToGroupIcon{
			display: flex;
			align-items: top;
			justify-content: center;
			font-size: 3em;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
		}
		#addUserToGroupIcon:hover{
			color: $primaryColor;
		}

		div.username{
			font-size: 1em;
			letter-spacing: 0.1em;

			transition: all 0.3s ease-in-out;

			.firstname{
				font-family: 'Montserrat-Regular';
			}
			.lastname{
				font-family: 'Montserrat-Hairline';
			}
		}

	}

	ul#memberlist{
		display: inline-block;
		// width: 100%;

		margin: 0 auto;

		list-style: none;
		padding-left: 0;

		li{

		}

	}

	div#mainbot{

		margin-bottom: 4em;

		h3{
			font-size: 1.3em;
			font-family: 'Montserrat-UltraLight';
			letter-spacing: 0.1em;
			color: #000;
		}

		p{
			text-align: justify;
		}

		i{
			cursor: pointer;
			transition: all 0.3s ease-in-out;
		}
		i:hover,
		i:focus{
			color: $warningColor;
		}

	}

	p.nobot{
		text-align: center;
		margin-bottom: 4em;
		font-style: italic;
	}

	#tournamentHeading{
		margin-bottom: 0.2em;
	}

	.tournamentName{
		margin: 0.2em auto;
		text-align: center;

		a{
			transition: all 0.3s ease-in-out;
		}
		a:hover{
			color: $secondaryColorShade;
		}
	}

	// mobile
	@media screen and (max-width: $medium-screen){
		.tournamentName:last-of-type{
			margin-bottom: 2em;
		}
	}

}

// ########################
// # addUserToGroup Modal #
// ########################

button#createGroupButton{
	margin: auto;
	display: block;
}

#addUserToGroupModal{

	div#Result{
		text-align: left;

		margin-bottom: 0.5em;

		div.username{
			background-color: #DDDDDD;

			padding: 0.2em;
			margin: 0.1em 0;

			font-size: 1em;

			display: inline-block;

			cursor: pointer;

			border-radius: 0.3em;

		}
		div.username:hover{
			background-color: $primaryColorShade;
			color: $backgroundColor;
		}

		div.member{
			background-color: $primaryColor;
			color: $backgroundColor;
		}
	}

	button.secondary{
		width: 100%;
		margin: 0;

		font-size: 0.9em;
		padding: 0.4em 0;
	}

}
