
section#impressum{

// mobile
@media screen and (max-width: $medium-screen){
	p{
		text-align: justify;
	}
	h1{
		font-size: 1.8em;
	}
}

// desktop
@media screen and (min-width: $medium-screen-up){
	p{
		text-align: center;
	}
	h1{
		font-size: 3em;
	}
}


.ulWrapper{
	text-align: center;
}


ul{
	list-style: none;
	padding: 0;

	display: inline-block;

	li{
		padding: 0.4em 0;
		font-size: 1.1em;
	}
}

i{
	color: $headingColor;
	font-size: 1.1em;
}

a{
	// default überschreiben
	color: $textColor;
}

span{
	color: $headingColor;
}

p#Backbutton{
	text-align: center;
	a{
		transition: none !important;
	}
}

}