div#instructions{

	margin-top: 2em;
	
	a{
		text-align: center;

		padding: 2em 1em;

		
	}
	a:hover{
		color: $secondaryColorShade;

		i{
			color: $secondaryColorShade;			
		}
	}

	i{
		font-size: 4em;
		color: $lightTextColor;

		display: block;
		margin: 0 auto;

		transition: all 0.3s ease-in-out;
	}

	p{
		margin-top: 0;
		font-size: 1.4em;
	}

}

div.instructionChoice{
	p{
		text-align: center;
		font-size: 1.6em;
	}
	a:hover{
		color: $secondaryColorShade;
	}
}

div.instructionText{

	h1,h2{
		color: $headingColor;
	}

	p{
		text-align: justify;
		font-size: 1.2em;

		a{
			text-decoration: underline;
			color: #000;
		}
		a:hover{
			color: $secondaryColorShade;
		}

		b{
			color: #000;
		}
	}

	span.command{
		background-color: #f7f7f7;
		color: #000;
		padding: 0.1em 0.4em;
	}

	img{
		
		display: block;
		margin: 0.2em auto;

		// desktop
		@media screen and (min-width: $medium-screen-up){
			width: 50%;
		}
		// mobile
		@media screen and (max-width: $medium-screen){
			width: 100%;
		}
	}
}

div#documents{
	p{
		text-align: center;
	}
	i{
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}
	i:hover{
		color: $warningColor;
	}
}