div#instructions{

	margin-top: 2em;
	
	a{
		text-align: center;

		padding: 2em 1em;

		
	}
	a:hover{
		color: $secondaryColorShade;

		i{
			color: $secondaryColorShade;			
		}
	}

	i{
		font-size: 4em;
		color: $lightTextColor;

		display: block;
		margin: 0 auto;

		transition: all 0.3s ease-in-out;
	}

	p{
		margin-top: 0;
		font-size: 1.4em;
	}

}

div.instructionText{

	h1,h2{
		color: $headingColor;
	}

	p{
		text-align: justify;
		font-size: 1.2em;

		a{
			text-decoration: underline;
			color: #000;
		}
		a:hover{
			color: $secondaryColorShade;
		}

		b{
			color: #000;
		}
	}

	span.command{
		background-color: #f7f7f7;
		color: #000;
		padding: 0.1em 0.4em;
	}
}