// ###########
// # Content #
// ###########

// allgemein
#landingPage{
	.row{
		// default von materializecss grid 端berschreiben
		margin-bottom: 0;
	}

	#stripe{
		// background-color: #f6f6f8;
		// background-color: $headingColor;
		background-color: $primaryColor;
		color: $backgroundColor;

		width: 100%;
		box-sizing: border-box;
		
		text-align: center;

		.content{
			display: table;

			.verticalCenter{
				display: table-cell;
				vertical-align: top;
			}
		}

	}

	h1{
		color: $headingColor;
	}

	text-align: justify;

	hr{
		height: 0.1em;
		border: none;

		background-color: $primaryColor;

		margin: 4em auto;
	}
}

// mobile
@media screen and (max-width: $medium-screen){
#landingPage{

	section{
		padding: 3em 0.5em;
	}

	#stripe{
		i{
			font-size: 4em;
			margin: 0.2em 0em;
		}

		.content{
			padding: 1em 1.2em;
		}
	}

	hr{
		width: 80%;
	}

}
}

// desktop
@media screen and (min-width: $medium-screen-up){
#landingPage{

	section{
		padding: 5em 0;
	}

	#stripe{
		i{
			font-size: 6em;
			margin: 0.2em 0em;
		}
	}

	.content{
		padding: 0 2em;
		// 端berschreibt ein paar geerbte werte
		font-size: 1.2em !important;
		line-height: 1.2em !important;
	}

	hr{
		width: 50%;
	}
}
}







// ############################
// # Landing Full Screen Page #
// ############################


// allgemein
div#landingPageImage{
	height: 100vh;
	background-size: cover;

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;


	#headline{
		font-family: 'Montserrat-Regular';
		text-align: center;
		word-wrap: break-word;
	}


	#loginButton{
		background-color: $secondaryColor;
		border-color: $secondaryColor;
	}

	#registerButton{
		background-color: transparent;
	}

	#loginButton{
		background-color: $secondaryColor;
		border-color: $secondaryColor;
	}
	#loginButton:hover{
		background-color: $secondaryColorShade;
		border-color: $secondaryColorShade;
	}

	#buttons{
		margin-top: 3em;
	}

	p{
		margin-left: auto;
		margin-right: auto;
	}

}

// mobile
@media screen and (max-width: $medium-screen){
div#landingPageImage{
	
	// bild f端r die mobile version
	background-image: url(/images/landingPageImage-mobile.jpg);

	#headline{
		font-size: 3.5em;
		letter-spacing: 0.02em;		
		color: white;
	}

	#subline{
		font-size: 1em;
		font-family: 'Garamond';

		color: white;
	}

	

	button{
		border-width: 0.2em;
		font-size: 1em;
	}
}
}


// desktop
@media screen and (min-width: $medium-screen-up){
div#landingPageImage{

	// bild f端r die desktop version
	background-image: url(/images/landingPageImage-desktop.jpg);

	#headline{
		font-size: 7em;
		letter-spacing: 0.05em;

		color: white;		
	}

	#subline{
		font-size: 2em;
		font-family: 'Garamond';

		color: white;
	}

	button{
		border-width: 0.25em;
		font-size: 1.5em;
	}
}
}


// allgemein
div#downArrow{
	position: absolute;

	right: 0;
	left: 0;
	bottom: 0.5em;

	text-align: center;
	

	color: rgba(150, 150, 150, 0.5);


	transition: all 0.3s ease-out;

	.fa-stack{
		cursor: pointer;
	}
	
}

div#downArrow .fa-stack:hover{
	color: rgba(150, 150, 150, 0.7);

	transition: all 0.3s ease-out;
}

// desktop
@media screen and (min-width: $medium-screen-up){
	div#downArrow{
		font-size: 3em;
	}
}

// mobile
@media screen and (max-width: $medium-screen){
	div#downArrow{
		font-size: 2em;
	}
}


// ##########################
// # Login Register Bereich #
// ##########################


// desktop
@media screen and (min-width: $medium-screen-up){
#loginRegisterArea{
	font-size: 1.5em;
}
}


#register{
	text-align: center;

	// desktop
	@media screen and (min-width: $medium-screen-up){
	input{
		width: 60%;
	}
	}

	// mobile
	@media screen and (max-width: $medium-screen){
	input{
		width: 80%;
	}
	}

}