
// ###########
// # Content #
// ###########

// allgemein
#landingPage{
	.row{
		// default von materializecss grid 端berschreiben
		margin-bottom: 0;
	}

	#stripe{
		// background-color: #f6f6f8;
		background-color: $headingColor;
		color: $backgroundColor;

		width: 100%;
		box-sizing: border-box;
		
		text-align: center;

		.content{
			display: table;

			.verticalCenter{
				display: table-cell;
				vertical-align: top;
			}
		}

	}

	h1{
		color: $headingColor;
	}

	text-align: justify;
}

// mobile
@media screen and (max-width: $medium-screen){
#landingPage{

	section{
		padding: 3em 0.5em;
	}

	#stripe{
		i{
			font-size: 4em;
			margin: 0.2em 0em;
		}

		.content{
			padding: 1em 1.2em;
		}
	}

}
}

// desktop
@media screen and (min-width: $medium-screen-up){
#landingPage{

	section{
		padding: 5em 0;
	}

	#stripe{
		i{
			font-size: 6em;
			margin: 0.2em 0em;
		}
	}

	.content{
		padding: 0 2em;
		// 端berschreibt ein paar geerbte werte
		font-size: 1.2em !important;
		line-height: 1.2em !important;
	}
}
}







// ############################
// # Landing Full Screen Page #
// ############################


// allgemein
div#landingPageImage{
	height: 1000px;
	background-size: cover;

	// Zentriert den Inhalt vertikal
	div.tableWrapper{
		display: table;
		width: 100%;
		div.verticalCenter{
			display: table-cell;

			vertical-align: middle;
			text-align: center;

			
		}
	}


	#loginButton{
		background-color: $secondaryColor;
		border-color: $secondaryColor;
	}

	#registerButton{
		background-color: transparent;
	}

	#loginButton{
		background-color: $secondaryColor;
		border-color: $secondaryColor;
	}
	#loginButton:hover{
		background-color: $secondaryColorShade;
		border-color: $secondaryColorShade;
	}

	p{
		margin-left: auto;
		margin-right: auto;
	}

}

// mobile
@media screen and (max-width: $medium-screen){
div#landingPageImage{
	
	// bild f端r die mobile version
	background-image: url(/images/landingPageImage-mobile.jpg);

	#headline{
		font-size: 4em;
		letter-spacing: 0.02em;		
		font-family: 'JosefinSans-Bold';
		color: white;
	}

	#subline{
		font-size: 1em;
		font-family: 'Garamond';

		color: white;
	}

	#buttons{
		margin-top: 5em;
	}

	button{
		border-width: 0.2em;
		font-size: 1em;
	}
}
}


// desktop
@media screen and (min-width: $medium-screen-up){
div#landingPageImage{

	// bild f端r die desktop version
	background-image: url(/images/landingPageImage-desktop.jpg);

	#headline{
		font-size: 8em;
		font-family: 'JosefinSans-Bold';
		letter-spacing: 0.05em;

		color: white;		
	}

	#subline{
		font-size: 2em;
		font-family: 'Garamond';

		color: white;
	}

	#buttons{
		margin-top: 10em;
	}

	button{
		border-width: 0.25em;
		font-size: 1.5em;
	}
}
}


// allgemein
div#downArrow{
	position: absolute;

	right: 0;
	left: 0;

	text-align: center;
	

	color: rgba(150, 150, 150, 0.5);


	transition: all 0.3s ease-out;

	.fa-stack{
		cursor: pointer;
	}
	
}

div#downArrow .fa-stack:hover{
	color: rgba(150, 150, 150, 0.7);

	transition: all 0.3s ease-out;
}

// desktop
@media screen and (min-width: $medium-screen-up){
	div#downArrow{
		font-size: 3em;
	}
}

// mobile
@media screen and (max-width: $medium-screen){
	div#downArrow{
		font-size: 2em;
	}
}


// ##########################
// # Login Register Bereich #
// ##########################


// desktop
@media screen and (min-width: $medium-screen-up){
#loginRegisterArea{
	font-size: 1.5em;
}
}

#login,
#register{
	text-align: center;

	input{
		width: 80%;
	}

}