

// allgemeines
nav{


	width: 100%;

	// Sorgt dafür, dass die Leiste immer ganz oben ist
	z-index: 5;

	padding: 0;
	margin-bottom: 3em;

	background-color: $navigationColor;

	border-bottom: 0.3em solid $primaryColor;

	font-family: 'Sertig';
	color: $textColor;

	box-sizing: border-box;

	i:hover{
		color: $primaryColor;
		transition: all 0.3s ease-out;
	}

	a:hover{
		color: $primaryColor;
	}

	#menuButton.active{
		color: $primaryColor;
	}

	ul#navi{

		list-style-type: none;
		height: $navigationHeight;
		padding: 0;

		margin-top: 0;
		margin-bottom: 0;

		li{
			text-align: center;
			float: left;
		}

		a{
			font-size: 1.6em;
			letter-spacing: 1px;

			display: block;
		}
	}
}


// user Information
ul#userInfo{
	height: $navigationHeight;
	line-height: $navigationHeight;
	position: absolute;
	right: 1em;
	top: 0;

	margin-top: 0;
	margin-bottom: 0;

	color: $headingColor;

	i{
		cursor: pointer;
	}
	i:hover{
		color: $warningColor;
	}	

	li{
		float: left;
		display: inline-block;
		text-align: center;

		margin-left: 10px;
		margin-right: 10px;

		font-family: 'Sertig';
		font-size: 1.3em;
	}

	a:hover{
		color: $secondaryColor;
	}

}


// desktop
@media screen and (min-width: $medium-screen-up){

nav{
	
	height: $navigationHeight;

	ul#navi{
		
		position: absolute;

		top: 0;
		left: 0;
		

		li{
			width: 10em;
			min-width: 10em;
		}

		a{
			// hiermit werden die einzeln Menüpunkte ordentlich zentriert
			line-height: $navigationHeight + 3px;

			// macht den ganzen Bereich clickbar
			// display: block;

		}

	}

	
	#menuButton{
		display: none;
	}

	.avatar{
		vertical-align: middle;
		display: inline-block;
	}

	// Das dient der vertikalen zetrierung
	.userImage{
		display: inline-block;
		height: 100%;
	}
	

}
}

// mobile
@media screen and (max-width: $medium-screen){

// collapsed menu
.collapsed{

	li{
		// display: none;
		height: 0 !important;

		border-bottom: none !important;

		overflow: hidden;
	}
}


ul#userInfo{

	// abstand nach rechts veringern
	right: 0;

	// Avatar verstecken
	.avatar{
		display: none;
	}

}

ul#navi{

		// genau unter der Navileiste platzieren
		margin-top: $navigationHeight !important;

		padding: 0;

		width: 100%;

		height: 0 !important;
		// display: none;

	li{
		width: 100%;
		
		height: $navigationHeight * 0.9;
		line-height: $navigationHeight * 0.9;

		border-bottom: 1px solid $textColor;

		-webkit-transition: height 0.2s ease-in-out;
		transition: height 0.2s ease-in-out;
	}



}

#menuButton{

	position: absolute;

	top: 0;
	left: 0.7em;

	font-size: 1.5em;

	line-height: $navigationHeight;

	// lößt das Problem, dass jQuery click events auf iOS nicht erkannt werden
	cursor: pointer;

}

}