

// allgemeines
nav{


	width: 100%;
	height: $navigationHeight;

	// Sorgt dafür, dass die Leiste immer ganz oben ist
	z-index: 5;

	padding: 0;
	margin-bottom: 3em;

	background-color: $navigationColor;

	border-bottom: 0.3em solid $primaryColor;

	font-family: 'Montserrat-UltraLight';

	box-sizing: border-box;

	i:hover{
		color: $primaryColor;
		transition: all 0.3s ease-out;
	}

	#menuButton.active{
		color: $primaryColor;
	}

	ul#navi{

		list-style-type: none;
		height: $navigationHeight;
		padding: 0;

		margin-top: 0;
		margin-bottom: 0;

		li{
			float: left;
			transition: all 0.2s ease-in-out;
		}

		a{
			font-size: 1.3em;
			color: #000;
			letter-spacing: 1px;

			display: block;

			transition: all 0.2s ease-in-out;
		}

	}
}


// user Information
ul#userInfo{
	height: $navigationHeight;
	line-height: $navigationHeight;
	position: absolute;
	right: 1em;
	top: 0;

	margin-top: 0;
	margin-bottom: 0;

	color: $headingColor;

	i{
		cursor: pointer;
	}
	i:hover{
		color: $warningColor;
	}

	li{
		float: left;
		display: inline-block;
		text-align: center;

		margin-left: 0.3em;
		margin-right: 0.3em;

		color: $headingColor;
		font-size: 1.1em;

		.firstname{
			font-family: 'Montserrat-Regular';
		}
		.lastname{
			font-family: 'Montserrat-Hairline';
		}
	}

	.avatar{
		border-radius: 50%;
	}

	li#groupLink{
		a{
			transition: all 0.3s ease-in-out;
		}
		a:hover{
			color: $secondaryColorShade;
		}
	}

}


// desktop
@media screen and (min-width: $navigationBreakpoint +1){

nav{

	height: $navigationHeight;

	ul#navi{


		li{
			text-align: center;

			height: $navigationHeight;
			box-sizing: border-box;

			transition: all 0.3s ease-in-out;
		}


		li.active{
			background-color:$primaryColor;
			border-bottom: 0.3em solid $primaryColorShade;
			a{
				color: $backgroundColor;
			}
		}

		// Vererbung will hier leider nich
		li:hover{
			background-color:$primaryColor;
			border-bottom: 0.3em solid $primaryColorShade;
			a{
				color: $backgroundColor;
			}
		}

		a{
			// hiermit werden die einzeln Menüpunkte ordentlich zentriert
			line-height: $navigationHeight - 3px;
			padding: 0 1em;
		}
	}


	#menuButton{
		display: none;
	}

	.avatar{
		vertical-align: middle;
		display: inline-block;
	}

	// Das dient der vertikalen zetrierung
	.userImage{
		display: inline-block;
		height: $navigationHeight;
	}



}
}

// mobile
@media screen and (max-width: $navigationBreakpoint){


ul#userInfo{

	// abstand nach rechts veringern
	right: 0;

	// Avatar verstecken
	.avatar{
		display: none;
	}

}

ul#navi{

		// genau unter der Navileiste platzieren
		// margin-top: $navigationHeight !important;

		width: 100%;

		margin: 0 auto;

		border-right: 2px solid $headingColor;


	li{
		width: 100%;

		height: $navigationHeight * 0.9;
		line-height: $navigationHeight * 0.9;

		transition: all 0.3s ease-in-out;

		border-left: 0.5em solid $primaryColor;

		box-sizing: border-box;

		text-align: left;

		text-indent: 1em;

		a{
			letter-spacing: 0.2em;
		}

	}
	li.active{
		border-left: 0.5em solid $primaryColorShade;
	}

}

#menuButton{

	position: absolute;

	top: 0;
	left: 0.7em;

	font-size: 1.5em;

	line-height: $navigationHeight;

	// lößt das Problem, dass jQuery click events auf iOS nicht erkannt werden
	cursor: pointer;

}


#naviWrapper{
	width: 90%;

	background-color: #FAFAFA;
	height: 100vh;
	// bewirkt, dass die Höhe der Navibar "rausgerechnet" wird
	padding-bottom: $navigationHeight;

	position: absolute;
	top: $navigationHeight;
	left: -90%;

	z-index: 4;

	transition: all 0.3s ease-in-out;

	box-sizing: border-box;


	overflow: scroll;
}
#naviWrapper.active{
	transform: translate(100%, 0);
}

#backgroundDarken{
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	// verhindert unschönen Effekt beim Scrollen auf älteren Handys
	height: 130%;

	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0);

	// display: none;
	z-index: 3;

	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

#backgroundDarken.active{
	visibility: visible;
	background-color: rgba(0,0,0,0.4);
}

}
