#robotBox,
#robotList{
	margin-right: auto;
	margin-left: auto;

	p{
		text-align: justify !important;
		line-height: 1.5em;
	}

	div.robottop{
		width: 100%;
		height: 1em;
		position: relative;

		font-size: 1.3em;
		color: $headingColor;


		span.robotname{
			position: absolute;
			left: 0;

			font-family: 'Montserrat-Regular';
		}
		span.robotactions{
			position: absolute;
			right: 0;
		}

		i{
		cursor: pointer;
		transition: all 0.3s ease-out;
		}
		i:hover,
		i:focus{
			color: $secondaryColor;
			transition: all 0.3s ease-out;
		}
	}

	.profileBot{
		margin: 2em auto;

		p.downloadState{
			margin-top: -0.5em;
			font-size: 1.1em;
		}
	}

}

// desktop
@media screen and (min-width: $medium-screen-up){
	#robotBox{
		width: 80%;
	}
}

#robotList{

	h1{
		margin: 1em 0;
	}

	div.robots{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.profileBot{
		@media screen and (min-width: $large-screen-up){
			width: 33%;
		}
		@media screen and (min-width: $medium-screen-up) and (max-width: $large-screen){
			width: 50%;
		}
		@media screen and (max-width: $medium-screen){
			width: 100%;
		}

		box-sizing: border-box;

		padding: 1em;
		margin: 0;

		p.botdescription{
			margin-bottom: 0 !important;
		}
	}

	.uploader{
		font-family: 'Montserrat-Hairline';
		font-style: italic;

		transition: all 0.3s ease;
	}
	.uploader:hover{
		color: $secondaryColorShade;
	}
}
