
div#tournamentList{

	.tournament{
	
		h2,p{
			text-align: center;
			line-height: 0.05em;
		}

		p{
			font-size: 0.85em;
			color: $headingColor;
		}

		margin: 1.1em 0;

	}	

	a:hover,
	a:focus{
		color: $secondaryColor !important;
	}

	button#createTournamentButton{
		// Ist von nöten damit der Button zentriert wird
		display: block;
		margin-left: auto;
		margin-right: auto;
	}


	#pastTournaments{
		max-height: 0;
		overflow: hidden;

		transition: all 0.5s ease-in-out;
	}

	// Default Abstand vom MaterializeCSS Grid überschreiben
	.row{
		margin-bottom: 0;
	}


}

div#tournamentDetail{
	
	h1,h2, h3, p{
		text-align: center;
	}
	h1{
		margin-bottom: 0;
	}

	h4{
		margin-bottom: 0.2em;
	}

	.mainbot{
		text-align: center;
		margin-top: 0.05em;

		font-size: 0.8em;
	}

	i{
		color: $headingColor;
	}

	.group{
		a:hover,
		a:focus{
			color: $secondaryColor;
		}
	}
	
	.group i{
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}
	.group i:hover{
		color: $warningColor;
	}

	#signUpButton{
		background-color: $secondaryColor;
		border-color: $secondaryColor;
	}
	#signUpButton:hover,
	#signUpButton:focus{
		background-color: $secondaryColorShade;
		border-color: $secondaryColorShade;
	}

	.infomessage{
		text-align: center;
		font-style: italic;
	}

	#participateSelect{		
		text-align: center;
		font-size: 1.1em;

		i{
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			margin: 0 0.3em;
		}
		i:hover,
		i:focus{
			color: $secondaryColor;
		}
	}
	#participateSelect:hover{
		border-color: $primaryColorShade;
	}

	// Default Abstand vom MaterializeCSS Grid überschreiben
	.row{
		margin-bottom: 0;
	}

}

div#dateDivider{

	vertical-align: top;

	box-sizing: border-box;

	margin-left: auto;
	margin-right: auto;
	
	div.wrapper{
		display: inline-block;

		width: 32%;

		box-sizing: border-box;

		input{
			width: 50%;
		}
	}


}

// Robot eintragen Modal
div#robotEntryModal{
	div.modalContent{
		padding: 0 !important;
	}

	div.modalHeader{
		// box-shadow: 0em 0.3em 1em rgba(0, 0, 0, 0.3);
		span i{
			color: $backgroundColor;
		}
	}
}

ul.robotList{
	
	width: 100%;

	overflow: scroll;

	max-height: 10em;

	padding: 0;
	margin: 0;
	

	li{
		list-style: none;

		padding: 0.6em 0;

		font-size: 1.4em;
		letter-spacing: 0.05em;

		transition: all 0.3s ease-in-out;
	}
	li:hover{
		cursor: pointer;
	}

	li.active{
		letter-spacing: 0.1em;
		background-color: $headingColor;
		color: $backgroundColor;
		font-size: 1.6em;
	}
}