
div#tournamentList{

	.tournament{
	
		h2,p{
			text-align: center;
			line-height: 0.05em;
		}

		p{
			font-size: 0.85em;
			color: $headingColor;
		}

		margin: 1.1em 0;

	}	

	a:hover,
	a:focus{
		color: $secondaryColor !important;
	}

	form{
		table{
			width: 30%;

			margin-right: auto;
			margin-left: auto;

			td{
				text-align: center;

				padding: 0.2em;

			}
			input[type=text]{
				width: 80%;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	button#createTournamentButton{
		// Ist von nöten damit der Button zentriert wird
		display: block;
		margin-left: auto;
		margin-right: auto;
	}


}

div#tournamentDetail{
	
	h1,h2, h3, p{
		text-align: center;
	}

	h3{
		margin-bottom: 0.2em;
	}

	.owner{
		text-align: center;
		margin-top: 0.05em;

		font-size: 0.8em;
	}

	i{
		color: $headingColor;
	}
	
	.robot i{
		cursor: pointer;
	}
	.robot i:hover{
		color: $secondaryColor;
	}

	#signUpButton{
		background-color: $secondaryColor;
		border-color: $secondaryColor;
	}
	#signUpButton:hover,
	#signUpButton:focus{
		background-color: $secondaryColorShade;
		border-color: $secondaryColorShade;
	}

}