
div.user{
	text-align: center;

	padding: 0.5em;

	font-size: 1.3em;
	line-height: 2.2em;

	letter-spacing: 0.1em;

	.avatar{
		margin-right: auto;
		margin-left: auto;
	}
}

#userList{
	a:hover{
		color: $secondaryColor;
	}
}

div#userProfile{

	.avatar{
		margin-left: auto;
		margin-right: auto;
		margin-top: 3em;

		display: block;
	}

	h3, h4{
		text-align: center;
	}

	p.username{
		text-align: center;
		
		font-size: 2em;
		font-weight: bold;

		color: $headingColor;
		font-family: 'Sertig';
	}

	p{
		text-align: center;

		margin-left: auto;
		margin-right: auto;
	}

	i{
		cursor: pointer;
	}
	i:hover{
		color: $secondaryColor;
	}

	input[type=text], textarea{
			min-width: 13em;
	}

}