// #####################
// # User in der Liste #
// #####################


div.userList{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	margin: 3em 0;

div.userElement{
	padding: 1em 0;

	@media screen and (min-width: $large-screen-up){
		width: 25%;
	}
	@media screen and (min-width: $medium-screen-up) and (max-width: $large-screen){
		width: 33%;
	}
	@media screen and (min-width: $small-screen-up + 100) and (max-width: $medium-screen){
		width: 50%;
	}
	@media screen and (max-width: $small-screen + 100){
		padding: 0;
		width: 100%;
	}



}
div.user{

	//  Weil VagueJS es net selbst auf die Reihe bekommt
	.avatar-image{
		transition: filter 0.3s ease-in-out;
	}

	.avatar{
		border: 0.2em solid $backgroundColor;
		border-radius: 50%;

		transition: border 0.3s ease-in-out;

		transform: scale(0.9);
	}
}

div.user:hover{
	.avatar{
		border: 0.2em solid $primaryColor;
	}

	div.username{
		color: $primaryColor;
	}
}

div.username{
	transition: all 0.3s ease-in-out;

	font-size: 1.2em !important;

	.firstname{
		font-family: 'Montserrat-Regular';
	}
	.lastname{
		font-family: 'Montserrat-Hairline';
	}
}

div.userimage{
	.avatar{
		overflow: hidden;
		img{
			transition: all 1s ease;
			max-width: 100%;
		}
		img:hover{
			transform: scale(1.3);
			filter: blur(0.5px);
		}
	}

}





// desktop
@media screen and (min-width: $small-screen-up){
	div.userimage{


		padding: 0.5em;

		.avatar{
			margin-right: auto;
			margin-left: auto;
		}
	}

	div.username{
		text-align: center;
		font-size: 1.3em;
		line-height: 1.2em;
		letter-spacing: 0.1em;

		padding: 0.5em;

		p{
			margin: 0;
		}
	}
}

// mobile
@media screen and (max-width: $small-screen + 100){
	div.user{
		margin-left: auto;
		margin-right: auto;

		width: 95%;
		padding: 0.7em 0;
	}

	div.userimage{
		display: inline-block;
		vertical-align: top;
		width: 30%;

		.avatar{
			margin-right: auto;
			margin-left: auto;
		}
	}
	div.username{
		width: 50%;
		max-width: 50%;

		display: inline-block;
		vertical-align: top;

		font-size: 1.3em;
		letter-spacing: 0.1em;
		text-align: left;

		padding-left: 0.5em;
	}

	div.verticalAlign{
		display: table;

		// entspricht der Höhe der Avatar Bilder
		height: 80px;

		p{
			display: table-cell;
			vertical-align: middle;
			text-align: left;
		}

	}

	// überschreibt den default 20px bottom margin der row klasse aus dem materializecss framework
	.row{
		margin-bottom: 0px !important;
	}
}



	a{
		color: $headingColor;
	}

	a:hover,
	a:focus{
		color: $headingColor;
	}
}

// #############
// # SearchBar #
// #############

div#userSearch{

	background-color: $lightBackgroundGray;
	border-radius: 0.3em;

	display: flex;

	margin: 0.5em auto;

	input{
		flex: 1;

		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		margin: 0;

		font-size: 1.3em;

	}

	button{
		margin-left: 0;

		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		margin: 0;

		transition: all 0.3s ease-out;
	}

}

div#userSearch:hover{
	input,
	button{
		border-color: $primaryColorShade;
	}

	button{
		background-color: $primaryColorShade;
	}
}

// desktop
@media screen and (min-width: $medium-screen-up){
	div#userSearch{
		width: 60%;
	}
}

// ##########
// # Profil #
// ##########

div#userProfile{

	.avatar{
		// zentriert den Avatar durch das text-align center im wrapper
		display: inline-block;

		border: 0.3em solid $backgroundColor;
		border-radius: 50%;

		transition: border 0.5s ease-in-out;

		cursor: pointer;

		transform: scale(0.8);
	}

	.avatar-hover:hover{
		border: 0.3em solid $primaryColor;
	}

	h2, h3, h4{
		text-align: center;
	}
	h2{
		margin-top: 0;
	}

	//  Weil VagueJS es net selbst auf die Reihe bekommt
	.avatar-image{
		transition: filter 0.5s ease-in-out;
	}
	.avatar-image:hover{
		filter: blur(2px);
	}

	#deleteProfilePic{
		position: absolute;
		right: 4%;
		top: 4%;

		z-index: 10;
	}

	#deleteProfilePic:hover{
		color: $warningColor;
	}

	#avatarCenter{
		text-align: center;
	}

	#groupnameHeading{
		margin-bottom: 0em;
	}
	#groupname{
		margin-top: 0.2em;
		letter-spacing: 0.05em;

		font-family: 'Montserrat-Hairline';

		a{
			transition: all 0.3s ease-in-out;
		}
		a:hover{
			color: $secondaryColor !important;
		}
	}

	.noFitTextJS{
		font-size: 2.5em !important;
	}


	p.username{
		text-align: center;

		font-size: 2.7em;

		// mobile
		@media screen and (max-width: $small-screen){
			font-size: 2.4em;
		}

		color: $headingColor;
		// font-family: 'Sertig';

		span#firstname{
			font-family: 'Montserrat-Regular';
		}
		span#lastname{
			font-family: 'Montserrat-Hairline';
		}
	}

	p{
		text-align: center;

		margin-left: auto;
		margin-right: auto;
	}

	// desktop
	@media screen and (min-width: $medium-screen-up){
		// bissel Abstand nach oben
		div.row{
			margin-top: 5em;
		}


		// form etwas verkleinern
		form{
			width: 60%;

			margin-right: auto;
			margin-left: auto;

		}
	}

	// mobile
	@media screen and (max-width: $medium-screen){
		h2{
			margin-top: 0.5em;
		}
		#groupname{
			margin-bottom: 3em;
		}
	}

}


// Fileupload im Modal
.modal{

	input[type=file] + label{
		margin-top: 0.8em !important;
		padding: 1em 0.6em;


		font-size: 0.9em !important;
	}

	// desktop
	@media screen and (min-width: $medium-screen-up){
		input[type=file] + label{
			width: 40%;
		}
	}
}
