// #####################
// # User in der Liste #
// #####################

div.user{
	//  Weil VagueJS es net selbst auf die Reihe bekommt
	.avatar-image{
		transition: filter 0.3s ease-in-out;
	}

	.avatar{
		border: 0.2em solid $backgroundColor;
		border-radius: 50%;

		transition: border 0.3s ease-in-out;
	}
}

div.user:hover{
	.avatar{
		border: 0.2em solid $primaryColor;
	}
}

// desktop
@media screen and (min-width: $medium-screen-up){
	div.userimage{
		

		padding: 0.5em;

		.avatar{
			margin-right: auto;
			margin-left: auto;
		}
	}

	div.username{
		text-align: center;
		font-size: 1.3em;
		line-height: 1.2em;
		letter-spacing: 0.1em;

		padding: 0.5em;

		p{
			margin: 0;
		}
	}
}

// mobile
@media screen and (max-width: $medium-screen){
	div.user{
		margin-left: auto;
		margin-right: auto;

		width: 95%;		
		padding: 0.7em 0;
	}

	div.userimage{
		display: inline-block;
		vertical-align: top;
		width: 30%;

		.avatar{
			margin-right: auto;
			margin-left: auto;
		}
	}
	div.username{
		width: 50%;
		max-width: 50%;

		display: inline-block;
		vertical-align: top;

		font-size: 1.3em;
		letter-spacing: 0.1em;
		text-align: left;

		padding-left: 0.5em;
	}

	div.verticalAlign{
		display: table;

		// entspricht der Höhe der Avatar Bilder
		height: 80px;

		p{
			display: table-cell;
			vertical-align: middle;
			text-align: left;
		}

	}

	// überschreibt den default 20px bottom margin der row klasse aus dem materializecss framework
	.row{
		margin-bottom: 0px !important;
	}
}

#userList{
	// desktop
	@media screen and (min-width: $medium-screen-up){
		a{
			color: $textColor;
		}
	}
	// mobile
	@media screen and (max-width: $medium-screen){
		a{
			color: $headingColor;
		}
	}


	a:hover,
	a:focus{
		color: $headingColor;
	}
}


// ##########
// # Profil #
// ##########

div#userProfile{

	.avatar{
		// zentriert den Avatar durch das text-align center im wrapper
		display: inline-block;

		border: 0.3em solid $backgroundColor;
		border-radius: 50%;

		transition: border 0.5s ease-in-out;
	}

	.avatar-hover:hover{
		border: 0.3em solid $primaryColor;
	}

	h2, h3, h4{
		text-align: center;
	}

	//  Weil VagueJS es net selbst auf die Reihe bekommt
	.avatar-image{
		transition: filter 0.5s ease-in-out;
	}

	#deleteProfilePic{
		position: absolute;
		right: 4%;
		top: 4%;

		z-index: 10;
	}

	#deleteProfilePic:hover{
		color: $warningColor;
	}

	#avatarCenter{
		text-align: center;		
	}

	p.username{
		text-align: center;
		
		font-size: 2em;
		font-weight: bold;

		color: $headingColor;
		font-family: 'Sertig';
	}

	p{
		text-align: center;

		margin-left: auto;
		margin-right: auto;
	}

	i{
		cursor: pointer;
		transition: all 0.3s ease-out;
	}
	i:hover,
	i:focus{
		color: $secondaryColor;
		transition: all 0.3s ease-out;
	}
	i[name=deleteRobot]:hover,
	i[name=deleteRobot]:focus{
		color: $warningColor;
	}

	#robotBox{
		margin-right: auto;
		margin-left: auto;
		width: 80%;

		p{
			// text-align: justify;
		}

		
	}

	// desktop
	@media screen and (min-width: $medium-screen-up){
		// bissel Abstand nach oben
		div.row{
			margin-top: 5em;
		}


		// form etwas verkleinern
		form{
			width: 60%;

			margin-right: auto;
			margin-left: auto;
		
		}
	}

}


// Fileupload im Modal
.modal{

	input[type=file] + label{
		margin-top: 0.8em !important;
		padding: 1em 0.6em;
		
		
		font-size: 0.9em !important;
	}

	// desktop
	@media screen and (min-width: $medium-screen-up){
		input[type=file] + label{
			width: 40%;
		}
	}
}
