
div.user{
	text-align: center;

	padding: 0.5em;

	font-size: 1.3em;
	line-height: 2.2em;

	letter-spacing: 0.1em;

	.avatar{
		margin-right: auto;
		margin-left: auto;
	}
}

#userList{
	a{
		color: $headingColor;
	}
	a:hover,
	a:focus{
		color: $secondaryColorShade;
	}
}

div#userProfile{

	.avatar{
		margin-left: auto;
		margin-right: auto;
		margin-top: 3em;

		display: block;

		border: 0.3em solid $backgroundColor;
		border-radius: 50%;

		transition: border 0.5s ease-in-out;
	}

	.avatar-hover:hover{
		border: 0.3em solid $primaryColor;
	}

	h2, h3, h4{
		text-align: center;
	}

	//  Weil VagueJS es net selbst auf die Reihe bekommt
	.avatar-image{
		transition: filter 0.5s ease-in-out;
	}

	#deleteProfilePic{
		position: absolute;
		right: 4%;
		top: 4%;

		z-index: 10;
	}

	#deleteProfilePic:hover{
		color: $warningColor;
	}

	p.username{
		text-align: center;
		
		font-size: 2em;
		font-weight: bold;

		color: $headingColor;
		font-family: 'Sertig';
	}

	p{
		text-align: center;

		margin-left: auto;
		margin-right: auto;
	}

	i{
		cursor: pointer;
		transition: all 0.3s ease-out;
	}
	i:hover,
	i:focus{
		color: $secondaryColor;
		transition: all 0.3s ease-out;
	}
	i[name=deleteRobot]:hover,
	i[name=deleteRobot]:focus{
		color: $warningColor;
	}

	input[type=text], textarea{
			min-width: 13em;
	}

	#robotBox{
		margin-right: auto;
		margin-left: auto;
		width: 80%;

		p{
			// text-align: justify;
		}

		
	}

}

