
// Farben definieren
$primaryColor: #46AAD9;
$primaryColorShade: #92CEE9;

$secondaryColor: #1CB890;
$secondaryColorShade: #78D4BC;

$warningColor: #DD4B39;

$textColor: #7B7C7F;
$headingColor: #4B4B4C;

$backgroundColor: #fff;

// Typographie
@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue.ttf');
}
@font-face {
	font-family: 'Sertig';
	src: url('../fonts/Sertig.otf');
}

$standartFont: 'HelveticaNeue';


// Breakpoints
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;

// Navigation
$navigationHeight: 70px;
$navigationColor: $backgroundColor;

// Alle Module importieren
@import "modules/misc";
@import "modules/buttons";
@import "modules/forms";
@import "modules/body";
@import "modules/links";
@import "modules/toastr";


// Seiten spezifische Styles
@import "pageSpecific/navigation";
@import "pageSpecific/user";
@import "pageSpecific/tournament";
@import "pageSpecific/registerlogin";
@import "pageSpecific/landingPage";