
// Farben definieren
$primaryColor: #46AAD9;
$primaryColorShade: #92CEE9;

$secondaryColor: #1CB890;
$secondaryColorShade: #78D4BC;

$warningColor: #F94357;

$textColor: #292f33;
$lightTextColor: #7B7C7F;
$headingColor: #4B4B4C;

$backgroundColor: #fff;

// Typographie
@font-face {
	font-family: 'HelveticaNeue';
	src: url('/fonts/HelveticaNeue Thin.ttf');
}
@font-face {
	font-family: 'Sertig';
	src: url('/fonts/Sertig.otf');
}
@font-face {
	font-family: 'Garamond';
	src: url('/fonts/Garamond.ttf');
}
@font-face {
	font-family: 'Montserrat-Hairline';
	src: url('/fonts/Montserrat-Hairline.otf');
}
@font-face {
	font-family: 'Montserrat-Regular';
	src: url('/fonts/Montserrat-Regular.otf');
}
@font-face {
	font-family: 'Montserrat-UltraLight';
	src: url('/fonts/Montserrat-UltraLight.otf');
}

$standartFont: 'HelveticaNeue';
$headingFont: 'Montserrat-UltraLight';


// Breakpoints
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;

// Navigation
$navigationHeight: 70px;
$navigationColor: #FAFAFA;

// Alle Module importieren
@import "modules/misc";
@import "modules/buttons";
@import "modules/forms";
@import "modules/body";
@import "modules/links";
@import "modules/lists";
@import "modules/modals";
@import "modules/spinner";
@import "modules/toastr";



// Seiten spezifische Styles
@import "pageSpecific/navigation";
@import "pageSpecific/user";
@import "pageSpecific/tournament";
@import "pageSpecific/landingPage";
@import "pageSpecific/footer";
@import "pageSpecific/impressum";
@import "pageSpecific/codesnippets";
@import "pageSpecific/groups";
@import "pageSpecific/instructions";
@import "pageSpecific/robots";
