@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.ttf"); }
@font-face {
  font-family: 'Sertig';
  src: url("../fonts/Sertig.otf"); }
#loading {
  width: 100%;
  min-height: 500px;
  text-align: center;
  background-color: #FFF i;
    background-color-line-height: 500px;
    background-color-font-size: 5em; }

h1, h2, h3, h4, h5, h6 {
  color: #4B4B4C; }

.topSearchBar {
  margin-right: auto;
  margin-left: auto;
  display: block;
  opacity: 0.2;
  font-size: 2em; }

.topSearchBar:hover,
.topSearchBar:focus {
  opacity: 1;
  color: #7B7C7F !important; }

@media screen and (min-width: 1201px) {
  .topSearchBar {
    width: 40%; } }
@media screen and (max-width: 1200px) {
  .topSearchBar {
    width: 60%; } }
.invisible {
  display: none; }

button, input[type=submit], input[type=file] + label {
  border: none;
  border-radius: 0.3em;
  padding: 0.75em 1.5em;
  font-size: 1.2em;
  letter-spacing: 1px;
  min-width: 7em;
  background-color: #46AAD9;
  color: #fff;
  cursor: pointer; }

button:hover, input[type=submit]:hover, input[type=file] + label:hover,
button:focus,
input[type=submit]:focus,
input[type=file] + label:focus {
  background-color: #92CEE9;
  transition: all 0.3s ease-out; }

.borderButton {
  background-color: #fff;
  border: 3px solid #46AAD9;
  color: #46AAD9; }

.borderButton:hover {
  background-color: #fff;
  border: 3px solid #92CEE9;
  color: #92CEE9; }

button:focus, input[type=submit]:focus, input[type=file] + label:focus {
  appearance: none; }

.secondaryBordered {
  color: #1CB890;
  border: 3px solid #1CB890; }

.secondaryBordered:hover,
.secondaryBordered:focus {
  color: #78D4BC;
  border: 3px solid #78D4BC; }

input[type=text],
input[type=email],
input[type=password],
textarea {
  padding: 0.6em 0.6em;
  font-size: 1.1em;
  border-radius: 0.3em;
  appearance: none;
  box-shadow: none;
  border: 2px solid #7B7C7F;
  color: #7B7C7F;
  transition: all 0.3s ease-out; }

input[type=text],
input[type=email],
input[type=password] {
  text-align: center; }

input[type=text]:focus,
input[type=text]:hover,
input[type=email]:focus,
input[type=email]:hover,
input[type=password]:focus,
input[type=password]:hover,
textarea:focus,
textarea:hover {
  border: 2px solid #46AAD9;
  outline: none;
  transition: all 0.3s ease-out;
  color: #92CEE9; }

input[type=submit] {
  background-color: #1CB890; }

input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #78D4BC; }

input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

input[type=file] + label {
  display: inline-block; }

input[type=file] + label:hover {
  background-color: #92CEE9;
  transition: all 0.3s ease-out; }
  input[type=file] + label:hover i {
    color: #fff !important; }

.dropdownWrapper {
  position: relative;
  margin: 0 auto;
  padding: 0.75em 1.5em;
  max-width: 8em;
  background: #46AAD9;
  border-radius: 0.3em;
  border: 1px solid #46AAD9;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out; }
  .dropdownWrapper i {
    position: absolute;
    right: 1em;
    color: #fff !important; }

.dropdownWrapper.active {
  border-radius: 5px 5px 0 0;
  background-color: #92CEE9;
  border: 1px solid #92CEE9;
  border-bottom: none; }
  .dropdownWrapper.active .dropdown {
    max-height: 1000px; }

.dropdownWrapper:hover {
  background-color: #92CEE9;
  border: 1px solid #92CEE9;
  transition: all 0.3s ease-out; }

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 0;
  background-color: #fff;
  border-radius: 0 0 0.3em 0.3em;
  border: 1px solid #92CEE9;
  border-top: none;
  border-bottom: none;
  list-style-type: none;
  padding-left: 0;
  border-bottom: 1px solid #92CEE9;
  transition: all 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
  color: #7B7C7F; }
  .dropdown li {
    padding: 0 1.5em;
    margin: 0 0.3em;
    color: #4B4B4C; }
    .dropdown li a {
      display: block;
      text-align: center;
      border-bottom: 1px solid #7B7C7F;
      padding: 0.75em 0; }
  .dropdown li:nth-last-of-type(1) a {
    border: none; }

body {
  font-family: "HelveticaNeue";
  color: #7B7C7F;
  margin: 0;
  padding-top: 105px;
  background-color: #fff; }

a, a:hover, a:active, a:visited, a:hover {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-out; }

a:hover {
  color: #4B4B4C;
  transition: all 0.3s ease-out; }

nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 0;
  background-color: #fff;
  border-bottom: 0.3em solid #46AAD9;
  font-family: 'Sertig';
  color: #7B7C7F; }
  nav i:hover {
    color: #46AAD9;
    transition: all 0.3s ease-out; }
  nav a:hover {
    color: #46AAD9; }
  nav #menuButton.active {
    color: #46AAD9; }
  nav ul#navi {
    list-style-type: none;
    height: 70px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0; }
    nav ul#navi li {
      text-align: center;
      float: left; }
    nav ul#navi a {
      font-size: 1.6em;
      letter-spacing: 1px;
      display: block; }

ul#userInfo {
  height: 70px;
  line-height: 73px;
  position: absolute;
  right: 1em;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #4B4B4C; }
  ul#userInfo i {
    cursor: pointer; }
  ul#userInfo i:hover {
    color: #DD4B39; }
  ul#userInfo li {
    float: left;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Sertig';
    font-size: 1.3em; }
  ul#userInfo a:hover {
    color: #1CB890; }

@media screen and (min-width: 993px) {
  nav {
    height: 70px; }
    nav ul#navi {
      position: absolute;
      top: 0;
      left: 0; }
      nav ul#navi li {
        width: 10em;
        min-width: 10em; }
      nav ul#navi a {
        line-height: 73px; }
    nav #menuButton {
      display: none; }
    nav .avatar {
      vertical-align: middle;
      display: inline-block; }
    nav .userImage {
      display: inline-block;
      height: 100%; } }
@media screen and (max-width: 992px) {
  .collapsed li {
    height: 0 !important;
    border-top: none !important;
    overflow: hidden; }

  ul#userInfo {
    right: 0; }
    ul#userInfo .avatar {
      display: none; }

  ul#navi {
    margin-top: 70px !important;
    padding: 0;
    width: 100%;
    height: 0 !important; }
    ul#navi li {
      width: 100%;
      height: 63px;
      line-height: 63px;
      -webkit-transition: height 0.2s ease-in-out;
      transition: height 0.2s ease-in-out; }

  #menuButton {
    position: absolute;
    top: 0;
    left: 0.7em;
    font-size: 1.5em;
    line-height: 70px; } }
div.user {
  text-align: center;
  padding: 0.5em;
  font-size: 1.3em;
  line-height: 2.2em;
  letter-spacing: 0.1em; }
  div.user .avatar {
    margin-right: auto;
    margin-left: auto; }

#userList a {
  color: #4B4B4C; }
#userList a:hover,
#userList a:focus {
  color: #78D4BC; }

div#userProfile .avatar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  display: block; }
div#userProfile h2, div#userProfile h3, div#userProfile h4 {
  text-align: center; }
div#userProfile p.username {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #4B4B4C;
  font-family: 'Sertig'; }
div#userProfile p {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
div#userProfile i {
  cursor: pointer;
  transition: all 0.3s ease-out; }
div#userProfile i:hover,
div#userProfile i:focus {
  color: #1CB890;
  transition: all 0.3s ease-out; }
div#userProfile i[name=deleteRobot]:hover,
div#userProfile i[name=deleteRobot]:focus {
  color: #DD4B39; }
div#userProfile input[type=text], div#userProfile textarea {
  min-width: 13em; }
div#userProfile #robotBox {
  margin-right: auto;
  margin-left: auto;
  width: 80%; }

div#tournamentList i {
  color: #4B4B4C; }
div#tournamentList h2, div#tournamentList p {
  text-align: center; }
div#tournamentList a:hover,
div#tournamentList a:focus {
  color: #1CB890 !important; }
div#tournamentList form table {
  width: 30%;
  margin-right: auto;
  margin-left: auto; }
  div#tournamentList form table td {
    text-align: center;
    padding: 0.2em; }
  div#tournamentList form table input[type=text] {
    width: 80%;
    margin-right: auto;
    margin-left: auto; }

div#tournamentDetail h1, div#tournamentDetail h2, div#tournamentDetail h3, div#tournamentDetail p {
  text-align: center; }
div#tournamentDetail h3 {
  margin-bottom: 0.2em; }
div#tournamentDetail .owner {
  text-align: center;
  margin-top: 0.05em;
  font-size: 0.8em; }
div#tournamentDetail i {
  color: #4B4B4C; }
div#tournamentDetail .robot i {
  cursor: pointer; }
div#tournamentDetail .robot i:hover {
  color: #1CB890; }
div#tournamentDetail #signUpButton {
  background-color: #1CB890; }
div#tournamentDetail #signUpButton:hover,
div#tournamentDetail #signUpButton:focus {
  background-color: #78D4BC; }

/*# sourceMappingURL=info_vk.css.map */
